body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
}

.box {
  background: white;
  padding: 20px;
  width: 300px;
  margin: 100px auto;
  border-radius: 10px;
}

input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
}

button {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.success {
  color: green;
  font-weight: bold;
}
.skip-btn {
  background: gray;
  color: white;
  margin-top: 10px;
}
#alertMsg {
  margin-top: 15px;
  font-weight: bold;
  color: green;
}
#locationBox {
  margin-top: 15px;
  font-size: 14px;
}